{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- ========================= SECTION PAGETOP ========================= -->
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y">
<div class="container">

<div class="row">
	<aside class="col-md-3">

<div class="card" >
<form action="{% url "filter" %}" method="GET">
	<article class="filter-group">
		<header class="card-header">
			<a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
				<i class="icon-control fa fa-chevron-down"></i>
				<h6 class="title">Categories</h6>
			</a>
		</header>
{#        <form action="{% url "filter" %}" method="GET">#}
                <div class="filter-content collapse show" id="collapse_1" style="">
                    <div class="card-body">

                        <ul class="list-menu">
                            <li><a href="{% url "store" %}"><b>All Products</b></a></li>
                            {% for category in category_all %}
                            <label class="checkbox-btn">
                                <input type="checkbox" name="category" value="{{ category.slug }}">
                                <span class="btn btn-light"> {{ category.category_name }} </span>
                            </label>
{#        				        <li><a href="category/{{ category.slug }}">{{ category.category_name }} </a></li>#}
                            {% endfor %}
                        </ul>

                    </div> <!-- card-body.// -->
                </div>
            </article> <!-- filter-group  .// -->
            <article class="filter-group">
        {#        <form action="{% url "size_filter" %}"  method="GET">#}
                <header class="card-header">
                    <a href="#" data-toggle="collapse" data-target="#collapse_4" aria-expanded="true" class="">
                        <i class="icon-control fa fa-chevron-down"></i>
                        <h6 class="title">Sizes </h6>
                    </a>
                </header>

        {#		<div class="filter-content collapse show" id="collapse_4" style="">#}
        {#                <button value="34" class="btn btn-block btn-primary" name="XS">34</button>#}

                      <label class="checkbox-btn">
                        <input type="checkbox" name="size" value="34">
                        <span  class="btn btn-light"> 34 </span>
                      </label>


                      <label class="checkbox-btn">
                        <input type="checkbox" name="size" value="36">
                        <span class="btn btn-light"> 36 </span>
                      </label>

                      <label class="checkbox-btn">
                        <input type="checkbox" name="size" value="38">
                        <span class="btn btn-light"> 38 </span>
                      </label>

                      <label class="checkbox-btn">
                        <input type="checkbox" name="size" value="40">
                        <span class="btn btn-light"> 40 </span>
                      </label>
                </div><!-- card-body.// -->


            </article> <!-- filter-group .// -->

            <article class="filter-group">
                <header class="card-header">
                    <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="true" class="">
                        <i class="icon-control fa fa-chevron-down"></i>
                        <h6 class="title">Price range </h6>
                    </a>
                </header>
                <div class="filter-content collapse show" id="collapse_3" style="">
                    <div class="card-body">
        {#            <form action="{% url "filter_price" %}"  method="GET">#}
                        <div class="form-row">
                        <div class="input-group w-100">
                          <label>Min</label>
                          <input class="mr-2 form-control"  type="number" name="min_price">
                        </div>
                        <div class="input-group w-100">
                          <label>Max</label>
                            <input type="number" class="form-control" name="max_price">
                        </div>
                        </div> <!-- form-row.// -->
                        <button class="btn btn-block btn-primary">Apply</button>


			</div><!-- card-body.// -->
		</div>
	</article> <!-- filter-group .// -->
</form>
</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<main class="col-md-9">

<header class="border-bottom mb-4 pb-3">
		<div class="form-inline">
			<span class="mr-md-auto"><b>{{ products_count }}</b> items found </span>

		</div>
</header><!-- sect-heading -->

<div class="row">
    {% if test %}
        {% for product in test %}
            <div class="col-md-4">
                <figure class="card card-product-grid">
                    <div class="img-wrap">
                        <a href="{{ product.get_url }}"><img src= "{{ product.product_image.url }}" ><a/>
                    </div>
                    <figcaption class="info-wrap">
                        <div class="fix-height">
                            <a href="{{ product.get_url }}" class="title">{{ product.product_name }}</a>
                            {% if  product.off_price > 0 %}
                            <div class="price-wrap mt-2">
                                <span class="price">{{ product.off_price }}</span>
                                 <del class="price-old">{{ product.price }}</del>
                            {% else %}
                                <div class="price-wrap mt-2">
                                <span class="price">{{ product.price }}</span>
                            {% endif %}
                            </div>
                        <a href="{{ product.get_url }}" class="btn btn-block btn-primary">View Detail </a>
                    </figcaption>
                </figure>
            </div> <!-- col.// -->
        {% endfor %}
    {% else %}
         <div><h2>No Result Found </h2></div>
    {% endif %}
</div>


<nav class="mt-4" aria-label="Page navigation sample">
    {% if products.has_other_pages %}
      <ul class="pagination">
        {% if products.has_previous %}
        <li class="page-item "><a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
        {% endif %}

          {% for i in products.paginator.page_range %}
              {% if products.number == i %}
                <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
              {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
          {% endfor %}

          {% if products.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">Next</a></li>
          {% else %}
              <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
          {% endif %}
      </ul>
    {% endif %}
</nav>

	</main> <!-- col.// -->

</div>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


</body>
</html>

{% endblock %}